// Mobile-First Layout
body {
  background-image: url(/assets/img/wallMobile.png);
  main {
    max-width: 97vw;
    max-height: 95vh;
    #title {
      text-align: center;
      font-family: 'VT323', monospace;
      color: #fff;
      font-size: 2.5rem;
    }
    #scoreLineOne{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      font-family: 'VT323', monospace;
      color: #fff;
      font-size: 1.5rem;
    }
    #scoreLineTwo{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      font-family: 'VT323', monospace;
      font-size: 1.8rem;
      color: rgba(82, 180, 179, 1);
      article {
        padding-left: 5vw;
      }
    }
    #clickUpgrade {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #cookie {
        margin: 2vw 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        #cookbtn {
          width: 30vw;
          height: auto;
        }
      }
      #store {
        border: 5px rgba(163, 163, 163, 1) solid;
        background: rgba(38, 17, 71, 1);
        border-radius: 10vw;
        padding: 1vw 0;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 97vw;
        .storeBtn {
          width: 45vw;
          margin: 2vw;
          margin: 0.5vh 1vw;
          border: none;
          border-radius: 4vw;
          color: #fff;
          font-size: 1.5rem;
          font-family: 'VT323', monospace;
        }
        .store1 {
          background-image: url(/assets/img/field.png);
          color: #000;
        }
        .store2 {
          background-image: url(/assets/img/hills.png);
        }
        .store3 {
          background-image: url(/assets/img/mountain.png);
          color: #000;
        }
        .store4 {
          background-image: url(/assets/img/dataCenter.png);
        }
        .store5 {
          background-image: url(/assets/img/robotEnv.png);
          color: #000;
        }
        .store6 {
          background-image: url(/assets/img/abstract.png);
        }
      }
      #upgrade {
        width: 97vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 5px rgba(163, 163, 163, 1) solid;
        background: rgba(38, 17, 71, 1);
        padding-bottom: 3vw;
        border-radius: 10vw;
        .build1 {
          background-image: url(/assets/img/field.png);
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden;
            img {
            width: 7vw;
          }
        }
        .build2 {
          background-image: url(/assets/img/hills.png);
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden;
            img {
            width: 6vw;
          }
        }
        .build3 {
          background-image: url(/assets/img/mountain.png);
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden;
            img {
            width: 7vw;
          }
        }
        .build4 {
          background-image: url(/assets/img/dataCenter.png);
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden;
            img {
            width: 6vw;
          }
        }
        .build5 {
          background-image: url(/assets/img/robotEnv.png);
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden;
            img {
            width: 4vw;
          }
        }
        .build6 {
          background-image: url(/assets/img/abstract.png);
          border-radius: 1.2rem;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: 1vh;
          padding-left: 1vw;
          width: 94vw;
          height: 4vh;
          overflow: hidden;
            img {
            width: 8vw;
          }
        }
      }
    }
    #tempUpgrade {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 2vw;
      #tempup {
        height: 4vh;
        border: none;
        border-radius: 2vw;
        background: #000;
        color:#fff;
      }
      #reset {
        margin-top: 2vw;
        background: #fff;
        height: 4vh;
        border: none;
        border-radius: 2vw;
        color: red;
      }
    }
  }
}




// MEDIA QUERIES
@media only screen and (min-width: 768px) {
  body {
    background-image: url(/assets/img/wallMobile.png);
    main {
      #clickUpgrade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #cookie {
          margin: 2vw 0;
          width: 97vw;
          display: flex;
          justify-content: center;
          align-items: center;
          #cookbtn {
            width: 25vw;
            height: auto;
          }
        }
        #store {
          border: 5px rgba(163, 163, 163, 1) solid;
          background: rgba(38, 17, 71, 1);
          border-radius: 10vw;
          padding: 2vw 0;
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 95vw;
          .storeBtn {
            width: 40vw;
            margin: 2vw;
            margin: 0.5vh 1vw;
            border: none;
            border-radius: 1.5vw;
            color: #fff;
            font-size: 1.5rem;
            font-family: 'VT323', monospace;
          }
          .store1 {
            background-image: url(/assets/img/field.png);
            color: #000;
          }
          .store2 {
            background-image: url(/assets/img/hills.png);
          }
          .store3 {
            background-image: url(/assets/img/mountain.png);
            color: #000;
          }
          .store4 {
            background-image: url(/assets/img/dataCenter.png);
          }
          .store5 {
            background-image: url(/assets/img/robotEnv.png);
            color: #000;
          }
          .store6 {
            background-image: url(/assets/img/abstract.png);
          }
        }
        #upgrade {
          width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 5px rgba(163, 163, 163, 1) solid;
          background: rgba(38, 17, 71, 1);
          border-radius: 6vw;
          .build1 {
            background-image: url(/assets/img/field.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden;
              img {
              width: 4vw;
            }
          }
          .build2 {
            background-image: url(/assets/img/hills.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden;
              img {
              width: 3vw;
            }
          }
          .build3 {
            background-image: url(/assets/img/mountain.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden;
              img {
              width: 4vw;
            }
          }
          .build4 {
            background-image: url(/assets/img/dataCenter.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden;
              img {
              width: 4vw;
            }
          }
          .build5 {
            background-image: url(/assets/img/robotEnv.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden;
              img {
              width: 4vw;
            }
          }
          .build6 {
            background-image: url(/assets/img/abstract.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 94vw;
            height: 4vh;
            overflow: hidden;
              img {
              width: 5vw;
            }
          }
        }
      }
      #tempUpgrade {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2vw;
        #tempup {
          height: 4vh;
          border: none;
          border-radius: 2vw;
          background: #000;
          color:#fff;
        }
        #reset {
          margin-top: 2vw;
          background: #fff;
          height: 4vh;
          border: none;
          border-radius: 2vw;
          color: red;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background: none;
    main {
      #title {
        background: rgba(56, 21, 121, 1);
        background: linear-gradient(200deg, rgba(56, 21, 121, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(232, 61, 78, 1) 100%);
        border-radius: 4vw;
        border: 5px rgba(163, 163, 163, 1) solid;
        text-align: center;
        font-family: 'VT323', monospace;
        color: #fff;
        font-size: 4rem;
      }
      #scoreLineOne{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        font-family: 'VT323', monospace;
        color: rgba(56, 21, 121, 1);
        font-size: 3rem;
      }
      #scoreLineTwo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        font-family: 'VT323', monospace;
        font-size: 3rem;
        color: rgba(232, 61, 78, 1);
        margin-bottom: 2vh;
        article {
          padding-left: 4vw;
        }
        button {
          border: none;
          border-radius: 2vw;
          font-size: 2rem;
          font-family: 'VT323', monospace;
          color: #fff;
          background: rgba(56, 21, 121, 1);
          background: linear-gradient(185deg, rgba(56, 21, 121, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(232, 61, 78, 1) 100%);
          width: 20vw;
        }
      }
      #clickUpgrade {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #cookie {
          margin: 2vw 2vw 0 0;
          padding-top: 2vw;
          width: 30vw;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(56, 21, 121, 1);
          background: linear-gradient(185deg, rgba(56, 21, 121, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(232, 61, 78, 1) 100%);
          border-radius: 30vw;
          border: 5px rgba(163, 163, 163, 1) solid;
          #cookbtn {
            width: 20vw;
            height: auto;
          }
        }
        #store {
          border: 5px rgba(163, 163, 163, 1) solid;
          background: rgba(56, 21, 121, 1);
          background: linear-gradient(191deg, rgba(56, 21, 121, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(232, 61, 78, 1) 100%);
          border-radius: 5vw;
          padding: 2vw 0;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 20vw;
          .storeBtn {
            width: 18vw;
            height: 4vh;
            border: none;
            border-radius: 1.5vw;
            color: #fff;
            font-size: 1.5rem;
            font-family: 'VT323', monospace;
          }
          .store1 {
            background-image: url(/assets/img/field.png);
            color: #000;
          }
          .store2 {
            background-image: url(/assets/img/hills.png);
          }
          .store3 {
            background-image: url(/assets/img/mountain.png);
            color: #000;
          }
          .store4 {
            background-image: url(/assets/img/dataCenter.png);
          }
          .store5 {
            background-image: url(/assets/img/robotEnv.png);
            color: #000;
          }
          .store6 {
            background-image: url(/assets/img/abstract.png);
          }
        }
        #upgrade {
          width: 45vw;
          height: 35vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 5px rgba(163, 163, 163, 1) solid;
          background: rgba(56, 21, 121, 1);
          background: linear-gradient(164deg, rgba(56, 21, 121, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(232, 61, 78, 1) 100%);
          border-radius: 4vw;
          .build1 {
            background-image: url(/assets/img/field.png);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 3.8vh;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden;
              img {
              width: 2.5vw;
            }
          }
          .build2 {
            background-image: url(/assets/img/hills.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden;
              img {
              width: 2vw;
            }
          }
          .build3 {
            background-image: url(/assets/img/mountain.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden;
              img {
              width: 2vw;
            }
          }
          .build4 {
            background-image: url(/assets/img/dataCenter.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden;
              img {
              width: 2vw;
            }
          }
          .build5 {
            background-image: url(/assets/img/robotEnv.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden;
              img {
              width: 1.2vw;
            }
          }
          .build6 {
            background-image: url(/assets/img/abstract.png);
            border-radius: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 1vh;
            padding-left: 1vw;
            width: 38vw;
            height: 10vh;
            overflow: hidden;
              img {
              width: 5vw;
            }
          }
        }
      }
      #tempUpgrade {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 2vw;
        
        #tempup {
          height: 4vh;
          border: none;
          border-radius: 2vw;
          background: rgba(56, 21, 121, 1);
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color:#fff;
        }
        #reset {
          margin-top: 2vw;
          background: rgba(232, 61, 78, 1);
          height: 4vh;
          border: none;
          border-radius: 2vw;
          font-family: 'VT323', monospace;
          font-size: 2rem;
          color: #fff;
        }
      }
    }
  }
}





